table {

    border-collapse: collapse
       
 }

   #nous {

     margin-top: 70%;     
    padding: 120%;
    margin-left: 100px;
   }

  #divine {

   padding: 100px;
   margin-left: 50px;
   margin-right: 80px;
   border: 2px solid black;
   text-align: center;
   padding-right: 120px;
   padding-left: -50px;
   background-color: yellow;
}
#sandra {

    padding: 100px;
    margin-left: 50px;
    margin-right: 80px;
    border: 2px solid black;
    text-align: center;
    padding-left: 120px;
    padding-right: -50px

}
 #ismael {
  
    margin-left: 100px;
    margin-right: 80px;
    border: 2px solid black;
    text-align: center;
    padding-left: 300px;
    padding-right: -30px;
    background-color: yellow;
 }

 #pri {
     
    padding: 100px;
    margin-left: 50px;
    margin-right: 80px;
    border: 2px solid black;
    text-align: center;
    padding-left: 800px;
    padding-right: -30px
    

 }

  /*tr {
      padding:120px;
      padding-left: 150px;
      padding-right: 100px;
      margin-left: 800px;
      margin-right: 20px;
      background-color: yellow;

  }*/
body {

background-image: url(FW_okBoWYAAK6fC.jpg);
/*margin-left: 21%;
margin-right: 12%;*/
padding: 4Opx;
display: flex;
background-position: center;
background-repeat: no-repeat;
}
.lo{
    border: 3px solid black;
    float: right;
    font-size: 20;
    background-color: yellow;
    width: 80%;
    display: flex;
}